[submodule "local-scrapers-repo"]
	path = local-scrapers-repo
	url = https://github.com/tapframe/nuvio-providers.git
[submodule "xavia-ota"]
	path = xavia-ota
	url = https://github.com/tapframe/NuvioOTA.git

[submodule "libmpv-android"]
	path = libmpv-android
	url = https://github.com/jarnedemeulemeester/libmpv-android.git
